@media (max-width:1080px){
    
.selecao-de-personagens {
    max-width: 520px;
    flex-direction: column-reverse;
    margin: 12px auto;
    
}
.selecao-de-personagens .personagem {
    margin-top: 12px;
}
.selecao-de-personagens .personagens .titulo {
   font-size: 16px;
}
.selecao-de-personagens .lista-de-personagens {
    gap: 16px;
}
.selecao-de-personagens .personagem-selecionado img{
 width: 350px;
}
.personagem-selecionado .descricao-personagem {
    width: 80%;
    font-size: 16px;
    margin: 20px auto;
}

.selecao-de-personagens .personagens .titulo {
    width: 80%;

}
.personagem-selecionado .nome-personagem{
    width: 80%;
    margin: 0 auto;
}
}